body {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    position: relative;
}


p, h1 {
    background-color: black;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 37px;
    padding-top: 5px;
    border-radius: 67px;
    font-size: 37px;
}

#about, #instruction {
    font-size: 25px;
    width: 150px;
    height: 30px;
} 

h1 {
    height: 70px;
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
}

#about {
    margin: 50px 15px 0 130px;
    
}

#instruction {
    margin: 50px 15px 0 15px;
}

.dropzone-container {
    margin: 0, 0px, 0, 50px;
    width: fit-content;
}

.dropzone {
    width: 150px;
    height: 120px;
    display: inline-block;
    align-items: center;
    position: relative;
    background-image: url(../images/dropzone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.dropzone img {
    width: 50px;
    height:75px;
    display:block;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.drag {
    margin-top: 100px;
    height: 150px;
    width: 150px;
	background-color: #000;
    border-radius: 30%;
    align-items: center;
    position: relative;
}

.drag img {
    width: auto;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.spinning {
    animation: spin 2s linear infinite;
  }