body {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    position: relative;
}


p, h1 {
    background-color: black;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 37px;
    padding-top: 5px;
    border-radius: 67px;
    font-size: 37px;
}

#about, #instruction {
    font-size: 25px;
    width: 150px;
    height: 30px;
} 

h1 {
    height: 70px;
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
}

#about {
    margin: 50px 15px 0 130px;
    
}

#instruction {
    margin: 50px 15px 0 15px;
}

#play-zone-1 {
    margin: 20px 0px 0px 300px;
}

#play-zone-2 {
    margin: 0px 0px 0px 550px;
}

#violin {
    position: absolute;
    top: 40%;
}

#drum {
    position: absolute;
    top: 80%;
    left: 15%;
}

#trump {
    position: absolute;
    top: 93%;
    left: 35%;
}

#tamb {
    position: absolute;
    top: 95%;
    left: 55%;
}

#trump-2 {
    position: absolute;
    top: 73%;
    left: 70%;
}

#guitar {
    position: absolute;
    top: 40%;
    left: 85%;
}