body {
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    position: relative;
}


p, h1 {
    background-color: black;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 37px;
    padding-top: 5px;
    border-radius: 67px;
    font-size: 37px;
}

#about, #instruction {
    font-size: 25px;
    width: 150px;
    height: 30px;
} 

h1 {
    height: 70px;
    font-size: 60px;
    margin-top: 30px;
    margin-left: 30px;
}

#about {
    margin: 50px 15px 0 130px;
    
}

#instruction {
    margin: 50px 15px 0 15px;
}

.play-zone {
    position: relative;
    z-index: 1;
}

#play-zone-1 {
    margin: 20px 0px 0px 180px;
}

.draggable-svg img {
    position: absolute;
    z-index: 2;
}

#violin {
    top: 70%;
}

#drum {
    top: 100%;
    left: 17%;
}

#trump {
    top: 93%;
    left: 35%;
}

#tamb {
    top: 100%;
    left: 55%;
}

#trump-2 {
    top: 90%;
    left: 70%;
}

#guitar {
    top: 70%;
    left: 85%;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.spinning {
    animation: spin 2s linear infinite;
  }